parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	- App\Model\ArticleManager


database:
    dsn: 'mysql:host=127.0.0.1;dbname=quickstart'
    user: root
    password:


security:
    users:
        admin: secret # user 'admin', password 'secret'