{block content}

    <h2 n:block="title">Chat</h2>

    <div id="chatbox">
        <div id="message" n:foreach="$chat as $message">
            <div id="chat_name"><b>{$message->name}:</b></div>
            <div id="chat_timestamp">{$message->created_at|date:'G:i'}</div>
            <div id="chat_content">{$message->content}</div>
        </div>
    </div>

    {control chatForm}

{/block}